.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }
  
  .leftContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
  }
  
  .textContainer {
    font-size: 2.5rem;
    width: 70%;
    white-space: pre-wrap;
    text-align: center;
  }
  
  .textContainer span {
    background: linear-gradient(140.86deg, #65ECD8 11.07%, #FDEF78 80.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .description {
    margin-top: 1vh;
    font-size: 1.25rem;
    line-height: 2rem;
    width: 70%;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .rightContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
  }
  
  .rightContainer img {
    height: auto;
    width: 60%;
    max-height: 60vh;
    object-fit: contain;
  }
  
  @media screen and (max-aspect-ratio: 13/9) {
    .container {
      flex-direction: column;
      height: auto;
      padding-top: 3rem;
    }
  }
  