.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 27%;
    row-gap: 1.7vh;
  }
  
  .imageContainer {
    width: 10vh;
    height: 10vh;
  }
  
  .imageContainer img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  
  .primaryText {
    font-size: 1rem;
    color: white;
  }
  
  .secondaryText {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    margin-top: -0.5vh;
  }
  
  .secondaryText img {
    height: 1.7rem;
    width: 1.7rem;
    object-fit: contain;
    margin-right: 0.5rem;
  }
  